*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 90px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li {
    display: inline;
    position: relative;
    margin: 0 1.2rem;
}

.nav-links li:nth-child(1):after,
.nav-links li:nth-child(2):after,
.nav-links li:nth-child(3):after {
  content: "";
  position: absolute;
  height: 9px;
  top: 50%;
  margin-left: 1.2rem;
  transform: translateY(-50%);
  border-left: 1px solid #000;
}

.nav-links li a {
    font-size: 1.3rem;
}

.nav-links li a:hover {
    color: #df4550;
}

.nav-links li.active a{
    color: #df4550;
    border-bottom: 1px solid #df4550;
}

.nav-cart {
    position: relative;
}

.nav-cart i {
    font-size: 2rem;
}

.cart-dot {
    position: absolute;
    top: 0px;
    right: -6px;
    background-color: #df4550;
    padding: 1px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 0.8rem;
    text-align: center;
}

.cart-dot h4 {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-bar {
    display: none;
}

.menu-bar i {
    font-size: 1.3rem;
}

.menu-bar button {
    background: transparent;
    border: none;
    cursor: pointer;
}

@media(max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-bar {
        display: block;
    }
}