<div class="signup-page">
    <div class="overlay"></div>
    <div class="form-container">
        <h1>LOGO</h1>
        <h3>Login</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input
                type="text"
                id="email"
                placeholder="email"
                class="form-control"
                formControlName="email"
            />
            <p 
                *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" 
                class="input-error-msg"
            >
                Please enter a valid email!
            </p>
            
            <input
                type="password"
                id="password"
                placeholder="Password"
                class="form-control"
                formControlName="password"
            />
            <p 
                *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" 
                class="input-error-msg"
            >
                This field is required!
            </p>
    
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
            
        </form>
        <p class="login-error-msg">{{ message }}</p>
        <p>Didn't sign up yet? <a href="#" routerLink="/signup">Signup</a></p>
    </div>
</div>
