<div class="signup-page">
    <div class="overlay"></div>
    <div class="form-container">
        <h1>LOGO</h1>
        <h3 translate>login.actionButtonText</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input
                translate
                type="text"
                id="email"
                placeholder="{{'login.email' | translate}}"
                class="form-control" 
                formControlName="email"
            />
            <p 
                *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" 
                class="input-error-msg"
                translate
            >
                login.emailErrorMessage
            </p>
            
            <input
                type="password"
                id="password"
                placeholder="{{'login.password' | translate}}"
                class="form-control"
                formControlName="password"
            />
            <p 
                *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" 
                class="input-error-msg"
                translate
            >
                login.inputErrorMessage
            </p>
    
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid" translate>login.actionButtonText</button>
            </div>
            
        </form>
        <p class="login-error-msg">{{ message }}</p>
        <p translate>login.ifNotRegistered <a href="#" routerLink="/signup" translate>signup.heading</a></p>
    </div>
</div>
