<div class="container">
    <h3 translate>shippingDetails.heading</h3>

    <form [formGroup]="shippingForm" (ngSubmit)="onCompleteOrder()">
        <div class="address-form grid-form">
            <div>
                <input
                    type="text"
                    placeholder="{{'shippingDetails.firstName' | translate}}*"
                    formControlName="firstname"
                />
                <p
                    *ngIf="!shippingForm.get('firstname').valid && shippingForm.get('firstname').touched"
                    class="input-error-msg"
                    translate
                >
                    shippingDetails.inputErrorMessage
                </p>
            </div>
            
            <div>
                <input
                    type="text"
                    placeholder="{{'shippingDetails.lastName' | translate}}*"
                    formControlName="lastname"
                />
                <p
                    *ngIf="!shippingForm.get('lastname').valid && shippingForm.get('lastname').touched"
                    class="input-error-msg"
                    translate
                >
                    shippingDetails.inputErrorMessage
                </p>
            </div>
            
            <div>
                <input
                type="text"
                placeholder="{{'shippingDetails.addressLine1' | translate}}*"
                formControlName="addressLine1"
                />
                <p
                    *ngIf="!shippingForm.get('addressLine1').valid && shippingForm.get('addressLine1').touched"
                    class="input-error-msg"
                    translate
                >
                    shippingDetails.inputErrorMessage
                </p>
            </div>
            
            <div>
                <input
                type="text"
                placeholder="{{'shippingDetails.addressLine2' | translate}}"
                formControlName="addressLine2"
            />
            </div>
            
            <div>
                <input
                type="text"
                placeholder="{{'shippingDetails.country' | translate}}*"
                formControlName="country"
                />
                <p
                    *ngIf="!shippingForm.get('country').valid && shippingForm.get('country').touched"
                    class="input-error-msg"
                    translate
                >
                    shippingDetails.inputErrorMessage
                </p>
            </div>
            
            <div>
                <input
                    type="text"
                    placeholder="{{'shippingDetails.city' | translate}}*"
                    formControlName="city"
                />
                <p
                    *ngIf="!shippingForm.get('city').valid && shippingForm.get('city').touched"
                    class="input-error-msg"
                    translate
                >
                shippingDetails.inputErrorMessage
                </p>
            </div>
            
            <div>
                <input
                    type="number"
                    placeholder="{{'shippingDetails.zip' | translate}}*"
                    formControlName="zip"
                />
                <p
                    *ngIf="!shippingForm.get('zip').valid && shippingForm.get('zip').touched"
                    class="input-error-msg"
                    translate
                >
                    shippingDetails.zipErrorMessage
                </p>
            </div>
            
            <div>
                <input
                    type="number"
                    placeholder="{{'shippingDetails.phone' | translate}}*"
                    formControlName="phone"
                    minlength="10"
                    maxlength="10"
                />
                <p
                    *ngIf="!shippingForm.get('phone').valid && shippingForm.get('phone').touched"
                    class="input-error-msg"
                    translate
                >
                    shippingDetails.phoneErrorMessage
                </p>
            </div>
            
        </div>
        <div class="btns-wrap">
            <a class="prev-btn" routerLink="/your-cart" translate>
                <i class="fa fa-arrow-left"></i>
                shippingDetails.secondaryActionButtonText
            </a>
            <button
                type="submit"
                class="next-btn"
                [disabled]="!shippingForm.valid"
                translate
            >
                shippingDetails.primaryActionButtonText
            </button>
        </div>
    </form>
</div>
