<div class="container">
    <h2 translate>cart.heading</h2>
    
    <div class="order-container" *ngIf="cart.length; else emptyCart">
        <div class="product-box">
            <div class="product" *ngFor="let product of cart">
                <div class="cart-item" >
                    <div class="product-container">
                        <img [src]="product.img" alt=""/>
                        <div class="product-details">
                            <h3 translate>{{ product.name }}</h3>
                            <span translate>cart.price</span>: <h3>Rs {{ product.price }}</h3>
                        </div>
                    </div>
                    <div class="quantity-container">
                        <button class="qty-btn" (click)="onDecreaseQuantity(product.id)" >-</button>
                        <div class="quantity">
                            {{product.quantity}}
                        </div>
                        <button class="qty-btn" (click)="onIncreaseQuantity(product.id)" >+</button>
                    </div>
                </div>
                <div>
                    <button
                        class="remove-btn"
                        (click)="removeProduct(product.id)"
                    >
                        <i class="fa fa-times"></i>
                        <div translate>cart.removeButtonText</div>
                    </button>
                </div>
            </div>
        <div class="proceed-btn" style="text-align: right;">
            <a href="#" routerLink="/shipping-details" translate>cart.actionButtonText</a>
        </div>
        </div>
        
        <div class="order-summary">
            <h3 translate>cart.orderSummary.heading</h3>
            <div class="order-container" *ngFor="let product of cart"> 
                <div class="product-container" >
                    <img [src]="product.img" alt=""/>
                    <div class="product-details">
                        <h3 translate>{{ product.name }}</h3>
                        <p translate>cart.orderSummary.quantity<span>:</span> {{ product.quantity }}</p>
                        <p translate>cart.price<span>:</span> Rs. {{ product.price }}</p>
                    </div>
                </div>
                <div class="price">
                    <h3>Rs. {{ product.price*product.quantity }}</h3>
                </div>
            </div>
            <div class="price-calculation">
                <div>
                    <div>
                        <p translate>cart.orderSummary.subtotal</p>
                        <p translate>cart.orderSummary.delivery</p>
                        <p translate>cart.orderSummary.discount</p>
                    </div>    
                    <div>
                        <p>Rs {{ cartValue }}</p>
                        <p>0</p>
                        <p>0</p>
                    </div>
                </div>
                <div class="total-price">
                    <p translate>cart.orderSummary.total</p>
                    <p>Rs. {{ cartValue }}</p>
                </div>
                
            </div>
            
        </div>
    </div>
</div>

<ng-template #emptyCart>
    <div class="empty-cart">
        <p translate>cart.emptyCartMessage<span>....</span><a href="" routerLink="/" translate>cart.emptyCartActionText</a> </p>
    </div>
</ng-template>
