<div class="container" > 
    <div class="product-container" *ngFor="let product of products">
        <a href="#" [routerLink]="['/products', product.id]">
            <div class="img-container">
                <img [src]="product.img" alt=""/>
            </div>
            <div class="product-info">
                <h3>{{ product.name }}</h3>
                <p>Rs. {{ product.price }} </p>
            </div>  
        </a>
        <div>
            <button (click)="onGoToCart()" *ngIf="product.inCart; else addToCartBtn" class="check-btn">
                <i class="fa fa-check check-icon" aria-hidden="true"></i>
            </button>
            <ng-template #addToCartBtn>
                <button (click)="addToCart(product.id)" class="add-btn">
                    <div>+</div>
                </button>
            </ng-template>
            
        </div>
        
    </div>
    <app-pop-up *ngIf="showPopup" [show]="showPopup" (closePopup)="closePopup()" ></app-pop-up>
</div>

