<div>
    <header class="showcase">
        <div class="container center">
            <div class="showcase-content">
                <p class="tagline" translate>
                    home.tagline
                </p>
                <div class="bottom-line"></div>
                <form
                [formGroup]="searchForm" 
                (ngSubmit)="onSubmit()"
                class="search-form input-container"
                >
                    <input
                    type="text"
                    placeholder="{{'home.search' | translate}}"
                    required
                    formControlName='search'
                    />
                    <button
                    type="submit"
                    class="main-btn search-btn"
                    translate
                    >home.search</button>
                </form>
            </div>
        </div>
    </header>
    
    <section>
        <app-products></app-products>
    </section>
    <div class="language-section">
        <h4 translate>home.language</h4>
    
        <ul class="language-container">
            <li class="language" (click)="changeLanguage('en')">English</li>
            <li class="language" (click)="changeLanguage('es')">Spanish</li>
        </ul>
    </div>
</div>
