<div>
    <header class="showcase">
        <div class="container center">
            <div class="showcase-content">
                <p class="tagline">
                    Whatever you’ve got in mind, we’ve got inside.
                </p>
                <div class="bottom-line"></div>
                <form
                [formGroup]="searchForm" 
                (ngSubmit)="onSubmit()"
                class="search-form input-container"
                >
                    <input
                    type="text"
                    placeholder="Search"
                    required
                    formControlName='search'
                    />
                    <button
                    type="submit"
                    class="main-btn search-btn"
                    >Search</button>
                </form>
            </div>
        </div>
    </header>
    
    <section>
        <app-products></app-products>
    </section>

</div>
